<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "UTF-8" />
      <link href = "/css/app_style.css" rel = "stylesheet"/>
      <title>Update zákazníka</title>
   </head>
   <body>
   		<div class="container">
   			<h2 class="form-title">Update Zákazník</h2>
   			
   			<form class="customer-form" action="#" th:action="@{/saveCustomer}" th:object="${customer}" method="POST">
   				<input type="hidden" th:field="*{id}" />
   				<input type="text" th:field="*{firstName}" >
   				<input type="text" th:field="*{lastName}" >
   				<input type="text" th:field="*{email}" >
   				
   				<button type="submit">Uložit</button>
   			</form>
   		</div>   		
   </body>
</html>
